#taskbar a.button-storage {
	background: url(images/user-home.png) 0px 1px no-repeat;
}

.iframebox.storage_ {
	height: 100%;
}

ul.toolbarmenu li #attachmentmenusave {
	background: url("images/user-home-16.png") 0 0 no-repeat;
	background-size: 14px 14px;
	margin-left: 9px !important;
	display: box;
}

ul.toolbarmenu li span.saveatt {
	margin-left: -9px;
}