#taskbar a.button-storage span.button-inner {
	background: url(images/storage002.png) no-repeat;
	/*
	width: 25px !important;
	height: 23px !important;
	*/
	background-position: 0px 0px;
	display: inline-block;
}
#taskbar a.button-storage:hover span.button-inner,
#taskbar a.button-storage.button-selected span.button-inner {
	background-position: 0px -27px;
}

ul.toolbarmenu li span.saveatt {
	background: url(images/storage-menu.png) 0 0 no-repeat;
	background-size: 16px 16px;
}