#taskbar a.button-storage span.button-inner {
	background: url(images/storage.png) 5px 0 no-repeat;
	background-size: 21px;
}
#taskbar a.button-storage:hover span.button-inner,
#taskbar a.button-storage.button-selected span.button-inner {
	background: url(images/storage_sel.png) 5px 0 no-repeat;
	background-size: 21px;
}

ul.toolbarmenu li span.saveatt {
	background: url(images/storage-menu.png) 0 0 no-repeat;
	background-size: 16px 16px;
}